*{
    font-size: 1.6vmax;
    margin: 0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #aaa;
}
#main-wrapper{
    width: 100vmax;
    text-align: right;
}
#logo img{
  width: 10vmax;
  height: 3vmax;
  float:left;
  transform: translateY(2vmax);
}
#logo img:hover{
  cursor: pointer;
}
#main-navigation > ul{
  list-style-type: none;
  background: #fff;
}
#main-navigation > ul > li{
    display: inline-block;
    padding: 0.5vmax;
    margin: 1vmax auto;
}
#main-navigation > ul > li > a{
    text-decoration:none;
    color: black;
    padding:0.8vmax;
    border-radius: 1vmax;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.3vmax;
}

#loginbtb{
    background-color: white;
    border-style: solid;
    border-radius: 1vmax;
    padding: 0.8vmax;
    color: black;
    border-color: lightgray;
        border-width: 0.3vmax;
}

#loginbtb:hover{
    background-color: black;
    color: white;
    border-color:transparent;
}
#main-navigation > ul > li > a:hover{
    color:white;
    background: black;
    border-color: transparent;
}
#main-navigation > ul > li:last-child{
    margin-right: 2vmax;
}
#main-navigation  form  button{
    margin-right:4vmax;
}
