#main-wrapper{
    width: 100vw;
    text-align: right;
}
#logo img{
  width: 10vw;
  height: 3vw;
  float:left;
  transform: translateY(0.5vw);
}
#logo img:hover{
  cursor: pointer;
}
#main-navigation{
  background: #fff;
  height:3.8vw;
}
#main-navigation > ul{
  list-style-type: none;
}
#main-navigation > ul > li{
    display: inline-block;
    padding: 0vw;
    margin: 0vw auto;
    line-height: 3.8vw;
}
#main-navigation > ul > li:first-child{
    display: block;
    float: left;
}
#main-navigation > ul > li > a{
    text-decoration:none;
    color: black;
    padding:0.5vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.3vw;
}

#loginbtb{
    background-color: white;
    border-style: solid;
    border-radius: 1vw;
    padding: 0.5vw;
    color: black;
    border-color: lightgray;
    border-width: 0.3vw;
}

#loginbtb:hover{
    background-color: black;
    color: white;
    border-color:transparent;
}

.login-input{
    border-width: 0.3vw;
    border-style: solid;
    border-color: lightgray;
    border-radius: 0.6vw;
    padding: 0.5vw;
    
}

.login-input::placeholder{
    padding-left: 0.2vw;
}
#main-navigation > ul > li > a:hover{
    color:white;
    background: black;
    border-color: transparent;
}
#main-navigation > ul > li:last-child{
    margin-right: 2vw;
}
#main-navigation  form  button{
    margin-right:4vw;
}